*{
    margin: 0;
    padding: 0;
}

.title-container{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
    width: 100%;
    height: 14rem;
    background-color: rgb(255,255,255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container .h1{
    font-size: 3rem;
    font-weight: 550;
}

.title-container p{
    margin: 0.2em 0;
    font-size: 1em;
}

.title-container p span{
    padding: 0.1em 0.5em;
    background-color: black;
    color: white;
    border-radius: 5%;
}